:root {
    --black: #1f1f1f;
    --background: #f6f9fc;

}

* {
    font-family: 'Roboto';
}



body {
    margin: 0;

    background-color: var(--black);
    color: white;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3%;
    height: 50vh;
    background: linear-gradient(#e66465, #9198e5);
}

@media only screen and (max-width: 600px) {
    .model {
      display: none;
    }
  }

.header .model {
}

.section {
    padding: 2%;
}

.section-title {
    font-size: 32px;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.logo {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    border-radius: 30px;
}

.link-container {
}

.icon-link {
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    margin-right: 1em;

}

