body{
    margin: 0;
    background-color: beige;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 100vh;

}

.card {

    border-radius: 5px;
    background-color: white;
    padding: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#imageContainer{
    background-image: url(ac9cb45d1091de8ee2ae.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
#bodyContainer{
    padding: 1em;
    overflow-y: scroll;
}
